<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <script type="text/javascript" src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'> </script>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
        <div id="logo">
          <a href="/"><img src="/assets/logo.png" width="310px" height="120px"></a>
        </div>
        <div id="top-der">

          <div id="menu">
           <ul id="sidebar">
                <li><a href="/">Inicio</a></li>
                <li> <a href="#">Hotel +</a> 
                  <ul> 
                    <li><a href="#">Servicios</a></li> 
                    <li><a href="#">Exteriores</a></li>
                  </ul> 
                  </li> 
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Galeria</a></li>
                <li><a href="#">Excursiones</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
          </div>
        </div>
        <div class="clear"></div>
        <div id="fondoSlide">
            <div id="slides">
                      <img src="/assets/pukakilla.jpg" height="auto">
                      <img src="/assets/pukakilla2.jpg" height="auto">
                      <img src="/assets/pukakilla3.jpg" height="auto">
              </div>
        </div>
        <div class="clear"> </div>
        <div id="container">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
          <%= content_tag :h1, yield(:title) if show_title? %>
          <%= yield %>
        </div>

      <div id="footer">
      </div>

  </body>
</html>


<script src="/assets/jquery.slides.min.js"></script>
 <script>
    $(function() {
      $('#slides').slidesjs({
        width: 910,
        height: 350,
        play: {
          active: true,
          auto: true,
          interval: 5000,
          swap: true
        }
      });
    });
  </script>

  
<script type='text/javascript'>
$(document).ready(function() {
  
  //Get the height of our image including the black border
  var thumbnailImgHeight = $(".thumbnail-mask img").outerHeight();
  //Set our mask to that height, and set Overflow to Hidden to create the mask
  $(".thumbnail-mask").height(thumbnailImgHeight);
  $(".thumbnail-mask").css("overflow","hidden");

  //Get the ammount of negative margin for both hover states
  var collapsed = -($(".thumbnail-headers").outerHeight());
  var expanded = -($(".thumbnail-info").outerHeight());
  //Our border colors
  var onBorderColor = "#C2C6CC";
  var offBorderColor = $(".thumbnail").css("border-left-color");

  //Set the default state to collapsed
  $(".thumbnail-info").css("marginTop", collapsed)
});
</script>